pandas
numpy
scikit-learn
joblib

fastapi
uvicorn
python-multipart
flask-cors

sentence-transformers
transformers
torch

google-generativeai
groq

pdfplumber
PyPDF2
python-docx

spacy
nltk

plotly
matplotlib
seaborn

langchain
langchain-community

python-dotenv